.contact-thumbnail {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
  }

  .contact-thumbnail.large{ width: 60px;}
  .contact-thumbnail, .contact-thumbnail.medium{width: 40px;}
  .contact-thumbnail.small{ width: 22px;}


  .contact-thumbnail .initials{
    text-transform: uppercase;

    text-align: center;
    border: 2px solid;
    border-radius: 50%;
  }

  .contact-thumbnail.large .initials{
    line-height: 60px;
    width: 60px;

  }

  .contact-thumbnail .initials,.contact-thumbnail.medium .initials{
    line-height: 40px;
    width: 40px;

  }

  .contact-thumbnail.small .initials{
    line-height: 20px;
    width: 20px;

  }

  .contact-thumbnail .initials.online {
    border: 2px solid #2ecc71;
  }
  .contact-thumbnail .initials.away {
    border: 2px solid #f1c40f;
  }
  .contact-thumbnail .initials.busy {
    border: 2px solid #e74c3c;
  }
  .contact-thumbnail .initials, .contact-thumbnail .initials.offline {
    border: 2px solid #95a5a6;
  }


  .contact-thumbnail img {
    border-radius: 50%;
    width: 100%;
  }

  .contact-thumbnail.online img {
    border: 2px solid #2ecc71;
  }
  .contact-thumbnail.away img {
    border: 2px solid #f1c40f;
  }
  .contact-thumbnail.busy img {
    border: 2px solid #e74c3c;
  }
  .contact-thumbnail.offline img {
    border: 2px solid #95a5a6;
  }